XSD/XSD_Ejem/elementos_ximples.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="elementos_simples">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="cadena" type="xs:string"></xs:element>
                <xs:element name="enteropositivo" type="xs:positiveInteger" default="1"></xs:element>
                <xs:element name="enteronegativo" type="xs:nonNegativeInteger" default="0"></xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>